block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title=""

    meta(name="description" content="")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000")
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="theme-color" content="#000000")

    meta(property="og:type" content="website")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="")
    meta(name="twitter:description" content="")
    meta(name="twitter:image" content="")

    link(rel="stylesheet", href="/public/index.css")


  body
    include ./blocks/preloader
    include ./base/header
    include ./base/footer

    .page-content#page-content(data-template=template)
        block content
  script. 
    window.isAppLoading = true
  script(src="/public/index.js")