.image-grid
    img.image-grid__image(src="/public/assets/image-1.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-2.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-3.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-4.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-5.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-6.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-7.jpg", alt="")
    img.image-grid__image(src="/public/assets/image-8.jpg", alt="")
