section
    a.image-grid(href="/collections")
        h1.image-grid__title(data-animation="title") A better future
        img.image-grid__image(src="https://images.unsplash.com/photo-1670272502246-768d249768ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2971&q=50", alt="")
