section.preloader__section
  .container
    .preloader
      p.preloader__text The sunrise is brighter than <br> a city skylight even in the dark
      .preloader__progress
        span.preloader__percent 0
        span %
        .preloader__line