html {
  &.is-loading {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
}

html.is-loading body {
  pointer-events: none;
}

.container {
  max-width: 120rem;
  margin-inline: auto;
}

.text {
  font-size: 4rem;
  margin-inline: auto;
  max-width: 80rem;
  line-height: 1.1;
  letter-spacing: -0.01em;

  span {
    display: inline-block;
    overflow: hidden;
  }
}
