html {
  &.is-loading {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
}

html.is-loading body {
  pointer-events: none;
}

.container {
  max-width: 120rem;
  margin-inline: auto;
}

.text {
  text-indent: 160px;
  font-size: 4rem;
  margin-inline: auto;
  max-width: 80rem;
  line-height: 1;
}
