extends ../index.pug

block variables
  - var template = 'about'

block content
  .about
    .about__content
      section.section.section--big--padding
        .text
          p We strive to be the lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ex natus aspernatur nam dolore neque impedit vitae, ipsum necessitatibus minima dolor, aliquam minus vero! Illo sit vero incidunt maxime excepturi.
      section.section.section--big--padding 
        .text
          p We strive to be the lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ex natus aspernatur nam dolore neque impedit vitae, ipsum necessitatibus minima dolor, aliquam minus vero! Illo sit vero incidunt maxime excepturi.
          