extends ../index.pug

block variables
  - var template = 'about'

block content
  .about
    .about__content
      section.section.section--medium--padding 
      .text
        p Daniel Hult. 
        br 
        | I am a lorem ipsum
        br 
        | based in Haugesund, a
        br 
        | city close to the coast
        br 
        | of westside Norway
        