extends ../index.pug

block variables
  - var template = 'collections'

block content
  .collections
    .collections__content
        .image-grid.image-grid--full
          h1.image-grid__title(data-animation="title") A better future
          img.image-grid__image(src="/public/assets/gradient.jpg", alt="")